/* src/components/CountryList.css */
.country-list {
    padding: 40px;
    text-align: center;
  }
  
  .country-list h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 50px;
  }
  
  .country-list ul {
    list-style: none;
    padding: 40;
  }
  
  .country-list li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(9, 60, 41);
    display: inline-block;
    margin: 30px;
    padding: 30px;
    background-color: #00ced1;
    border: 1px solid #6ac5c7;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 8px;
    width: 200px;
    text-align: center;
  }
  
  .country-list img {
    max-width: 100%;
    height: auto;
  }
  